//reset css
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

//variables
$bg-color: #21204A;
$font-color: white;
$font-color2: #a6b8cf;
$font-color3: #21204A;
$main-bg-color: #e0e9f0;
$inside-flex-item-bg-color: #f9f9fa;
$font-type: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

html {
    font-size: 1px;

    body {
        max-width: 1440px;
        margin: 0 auto;
        font-size: 16rem;
        color: $font-color;
        font-family: $font-type;

        header {
            background-color: $bg-color;
            padding: 0 100px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 80px;
            position: sticky;
            top: 0;
            z-index: 11;

            span {
                font-size: 28rem;
                font-weight: bold;
                border: 3px solid white;
                border-radius: 10px;
                padding: 0 10px;
            }

            nav {
                // border: 1px solid white;
                width: 900px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .nav-link {
                    text-decoration: none;
                    color: $font-color2;
                }

                .connect-wallet-btn {
                    border: 2px solid white;
                    border-radius: 10px;
                    padding: 10px;
                }
            }
        }

        main {
            color: $font-color3;
            background-color: $main-bg-color;

            .hero-section {
                background-color: $bg-color;
                height: 570px;
                padding: 0 100px;
                display: flex;
                color: white;

                .hero-left {
                    width: 45%;
                    padding: 100px 0;

                    h1 {
                        font-size: 45rem;
                        line-height: 60px;
                    }

                    p {
                        margin: 30px 0 80px;
                        color: $font-color2;
                    }

                    .hero-btn {
                        text-decoration: none;
                        color: white;
                        padding: 10px 5px 10px 15px;
                        border-radius: 10px;
                        background-image: linear-gradient(to right, #F53DF5, #0698F9);

                        .fa-arrow-right {
                            padding: 9px;
                            border-radius: 5px;
                            background-color: white;
                            color: black;
                        }
                    }
                }

                .hero-right {
                    width: 55%;
                    position: relative;

                    .hero-stickers-1 {
                        position: absolute;
                        left: -30px;
                    }

                    .hero-stickers-2 {
                        position: absolute;
                        right: 10px;
                    }

                    .hero-stickers-3 {
                        position: absolute;
                        right: 0;
                        bottom: -70px;
                    }

                    .hero-right-img {

                        .collection-name {
                            bottom: 130px;
                            left: 70px;
                            z-index: 2;
                            position: absolute;
                            transform: rotate(34deg);
                            color: white;

                            p {
                                transform: skewX(-20deg);
                            }
                        }

                        .hero-img {
                            position: absolute;
                            // border: 1px solid white;
                            top: 150px;
                        }

                        .hero-price {
                            bottom: -30px;
                            left: 10px;
                            z-index: 2;
                            position: absolute;
                        }
                    }
                }
            }

            .hot-auction {
                color: black;
                padding: 100px;

                .hot-auction-title-row {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;

                    .hot-auction-title-left {
                        display: flex;
                        width: 50%;
                        // border: 1px solid red;

                        h1 {
                            background-image: linear-gradient(to right, #F53DF5, #0698F9);
                            background-clip: text;
                            -webkit-text-fill-color: transparent;
                            margin-right: 40px;
                        }

                        select {
                            // width: x;
                            padding: 0 10px;
                            background-color: #b5d5ff;
                            border: 0;
                            border-radius: 10px;

                            option {
                                background-color: $main-bg-color;
                                font-size: 17rem;
                                padding: 10px 0;
                            }
                        }
                    }

                    .hot-auction-title-right {
                        width: 50%;
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;

                        .auction-see-all-link {
                            border: 3px solid $font-color2;
                            padding: 5px 20px;
                            border-radius: 10px;
                            text-decoration: none;
                            color: $font-color2;
                            margin-right: 30px;
                        }

                        button {
                            padding: 10px;
                            border: 2px solid $font-color2;
                            border-radius: 10px;
                            color: $font-color2;
                            margin-left: 10px;
                        }
                    }
                }

                .hot-auction-flex-container {
                    margin-top: 50px;
                    display: flex;
                    justify-content: space-between;

                    .hot-auction-flex-items {
                        padding: 10px;
                        background-color: $inside-flex-item-bg-color;
                        border-radius: 20px;

                        .hot-section-img {
                            border-radius: 20px;
                        }

                        .collection-name {
                            p {
                                color: $font-color2;
                                font-size: 14rem;
                            }

                            h3 {
                                font-size: 15rem;
                            }
                        }

                        .current-bid {
                            display: flex;
                            justify-content: space-between;
                            margin: 15px 0;

                            p {
                                color: $font-color2;
                                font-size: 14rem;
                            }

                            h4 {
                                font-size: 15rem;
                            }

                            h5 {
                                color: $font-color2;
                                font-size: 14rem;
                                font-weight: 200;
                            }
                        }

                        .profile-avatar {
                            display: flex;
                            justify-content: space-between;
                            border-top: 2px solid;
                            border-image: linear-gradient(to right, #3918FF, #DB00FF);
                            border-image-slice: 1;
                            padding: 10px 0;

                            .profile-avatar-left {
                                display: flex;
                                align-items: center;

                                p {
                                    color: $font-color2;
                                    margin-left: 10px;
                                }
                            }

                            .profile-avatar-right {
                                display: flex;
                                align-items: center;

                                i {
                                    font-size: 25rem;
                                    background-image: linear-gradient(to right, #F53DF5, #0698F9);
                                    background-clip: text;
                                    -webkit-text-fill-color: transparent;
                                }

                                p {
                                    letter-spacing: 0;
                                    font-size: 14rem;
                                    color: $font-color2;
                                    margin-left: 5px;
                                }
                            }
                        }
                    }
                }
            }

            .popular-collection {
                padding: 0 100px;

                .popular-collection-title-row {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .title-row-left {
                        display: flex;

                        h1 {
                            // background-image: linear-gradient(to right, #F53DF5, #0698F9);
                            // background-clip: text;
                            // -webkit-text-fill-color: transparent;
                            margin-right: 40px;
                        }

                        select {
                            padding: 10px;
                            background-color: #b5d5ff;
                            border: 0;
                            border-radius: 10px;

                            option {
                                background-color: $main-bg-color;
                                font-size: 17rem;
                                padding: 10px 0;
                            }
                        }

                        .title-row-days {
                            display: flex;
                            padding: 10px;
                            background-color: #b5d5ff;
                            border: 0;
                            border-radius: 10px;
                            margin-left: 60px;

                            p {
                                color: black;
                                margin: 0 10px;
                            }
                        }
                    }

                    .title-row-right {
                        width: 20%;
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;

                        .auction-see-all-link {
                            border: 3px solid $font-color2;
                            padding: 5px 20px;
                            border-radius: 10px;
                            text-decoration: none;
                            color: $font-color2;
                            margin-right: 30px;
                        }

                        button {
                            padding: 10px;
                            border: 2px solid $font-color2;
                            border-radius: 10px;
                            color: $font-color2;
                            margin-left: 10px;
                        }
                    }
                }

                .popular-collection-flex-container {
                    display: flex;
                    justify-content: space-between;
                    padding: 50px 0;

                    .popular-collection-flex-items {
                        padding: 10px;
                        background-color: $inside-flex-item-bg-color;
                        border-radius: 20px;

                        img {
                            border-radius: 10px;
                        }

                        .img-section {
                            display: flex;

                            .img-section-left {
                                margin-right: 10px;
                            }

                            .img-section-right {
                                display: grid;

                                .img-section-small-img {
                                    grid-column-start: 1;
                                    grid-column-end: 4;
                                    grid-row-start: 1;
                                    grid-row-end: 4;
                                }

                                span {
                                    position: relative;
                                    // border: 1px solid red;

                                    .more-img {
                                        -webkit-filter: blur(1px);
                                        margin-left: 8px;
                                    }

                                    h3 {
                                        position: absolute;
                                        z-index: 1;
                                        left: 30%;
                                        top: 30%;
                                        color: white;
                                    }
                                }
                            }
                        }

                        .info-section {
                            display: flex;
                            justify-content: space-between;
                            padding: 10px 0;

                            h2 {
                                font-size: 17rem;
                            }

                            p {
                                color: $font-color2;
                                font-size: 15rem;
                            }
                        }
                    }
                }
            }

            .top-artist-collection {
                padding: 0 100px;

                .top-artist-title-row {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .top-artist-left {
                        display: flex;

                        h1 {
                            // background-image: linear-gradient(to right, #F53DF5, #0698F9);
                            // background-clip: text;
                            // -webkit-text-fill-color: transparent;
                            margin-right: 40px;
                        }

                        select {
                            padding: 10px;
                            background-color: #b5d5ff;
                            border: 0;
                            border-radius: 10px;

                            option {
                                background-color: $main-bg-color;
                                font-size: 17rem;
                                padding: 10px 0;
                            }
                        }

                        .title-row-days {
                            display: flex;
                            padding: 10px;
                            background-color: #b5d5ff;
                            border: 0;
                            border-radius: 10px;
                            margin-left: 60px;

                            p {
                                color: black;
                                margin: 0 10px;
                            }
                        }
                    }

                    .top-artist-right {
                        width: 20%;
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;

                        .auction-see-all-link {
                            border: 3px solid $font-color2;
                            padding: 5px 20px;
                            border-radius: 10px;
                            text-decoration: none;
                            color: $font-color2;
                        }

                        button {
                            padding: 10px;
                            border: 2px solid $font-color2;
                            border-radius: 10px;
                            color: $font-color2;
                            margin-left: 10px;
                        }
                    }
                }

                .top-artist-container {
                    padding: 50px 0;
                    display: grid;
                    // max-width: 1224px;
                    // border: 1px solid red;
                    grid-template-columns: auto auto auto;
                    grid-template-rows: auto auto;
                    row-gap: 30px;
                    column-gap: 26px;

                    .top-artist-items {
                        padding-left: 10px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        // border: 1px solid red;
                        width: 365px;

                        .profile-pics {
                            display: flex;
                            align-items: center;

                            .profile-verified {
                                margin-left: 10px;
                                position: relative;

                                img {
                                    border-radius: 50%;
                                    border: 3px solid white;
                                }

                                .fa-circle-check {
                                    color: #FED144;
                                    background-color: black;
                                    border-radius: 50%;
                                    border: 0;
                                    position: absolute;
                                    bottom: 10px;
                                    right: 1px;
                                }
                            }
                        }

                        .profile-name {
                            // border: 1px solid red;

                            h3 {
                                font-size: 17rem;
                            }

                            p {
                                color: #818083;
                                font-size: 15rem;
                                font-weight: 500;
                            }
                        }

                        .followers {
                            color: $font-color2;
                            font-size: 12rem;
                            text-align: right;

                            .followers-display-pic {
                                position: relative;

                                .followers-display-pic1 {
                                    position: absolute;
                                    right: 30px;
                                    z-index: 2;
                                }

                                .followers-display-pic2 {
                                    position: absolute;
                                    right: 15px;
                                    z-index: 1;
                                }

                                .followers-display-pic3 {
                                    position: relative;
                                    z-index: 0;
                                }
                            }

                            p {
                                width: 120px;
                            }
                        }
                    }
                }
            }

            .trending-nft {
                margin-top: 100px;
                margin-bottom: 100px;

                .trending-nft-title-row {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0 100px;

                    .title-row-left {
                        display: flex;

                        h1 {
                            // background-image: linear-gradient(to right, #F53DF5, #0698F9);
                            // background-clip: text;
                            // -webkit-text-fill-color: transparent;
                            margin-right: 40px;
                        }

                        select {
                            padding: 10px;
                            background-color: #b5d5ff;
                            border: 0;
                            border-radius: 10px;

                            option {
                                background-color: $main-bg-color;
                                font-size: 17rem;
                                padding: 10px 0;
                            }
                        }

                        .title-row-days {
                            display: flex;
                            padding: 10px;
                            background-color: #b5d5ff;
                            border: 0;
                            border-radius: 10px;
                            margin-left: 60px;

                            p {
                                color: black;
                                margin: 0 10px;
                            }
                        }
                    }

                    .title-row-right {
                        width: 20%;
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;

                        .auction-see-all-link {
                            border: 3px solid $font-color2;
                            padding: 5px 20px;
                            border-radius: 10px;
                            text-decoration: none;
                            color: $font-color2;
                            margin-right: 30px;
                        }

                        button {
                            padding: 10px;
                            border: 2px solid $font-color2;
                            border-radius: 10px;
                            color: $font-color2;
                            margin-left: 10px;
                        }
                    }
                }

                .trending-nft-flex-container {
                    margin-top: 50px;
                    display: flex;
                    justify-content: space-between;
                    overflow: hidden;
                    padding-left: 100px;

                    .trending-nft-flex-items {
                        padding: 10px;
                        background-color: $inside-flex-item-bg-color;
                        border-radius: 20px;
                        margin-right: 30px;

                        .trending-nft-img {
                            width: 224px;
                            height: 264px;
                            border-radius: 20px;
                        }

                        .collection-name {
                            p {
                                color: $font-color2;
                                font-size: 14rem;
                            }

                            h3 {
                                font-size: 15rem;
                            }
                        }

                        .current-bid {
                            display: flex;
                            justify-content: space-between;
                            margin: 10px 0;
                            background-color: $main-bg-color;
                            border-radius: 10px;
                            padding: 10px;

                            p {
                                color: $font-color2;
                                font-size: 14rem;
                            }

                            h4 {
                                font-size: 15rem;
                            }

                            h5 {
                                color: $font-color2;
                                font-size: 14rem;
                                font-weight: 200;
                            }
                        }
                    }
                }
            }

            .art-list {
                display: flex;
                // border: 1px solid red;
                height: 500px;
                padding: 0 100px;

                img {
                    border-radius: 20px;
                }

                .art-list-flex-item1 {
                    width: 25%;
                    display: flex;
                    align-items: center;
                    margin-right: 30px;

                    .info {
                        display: inline-block;
                        padding: 15px;
                        background: $inside-flex-item-bg-color;
                        border-radius: 20px;

                        p {
                            color: $font-color2;
                        }

                        i {
                            color: #FED144;
                            background-color: black;
                            border-radius: 50%;
                        }
                    }
                }

                .art-list-flex-item2 {
                    width: 25%;
                    margin-right: 30px;

                    .info {
                        display: inline-block;
                        padding: 15px;
                        background: $inside-flex-item-bg-color;
                        border-radius: 20px;

                        p {
                            color: $font-color2;
                        }

                        i {
                            color: #FED144;
                            background-color: black;
                            border-radius: 50%;
                        }
                    }
                }

                .art-list-right {
                    width: 45%;
                    // border: 1px solid red;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    h1 {
                        font-size: 35rem;
                    }

                    p {
                        margin: 20px 0;
                    }

                    span {
                        display: flex;

                        .artist-btn1 {
                            font-weight: bold;
                            padding: 10px 20px;
                            margin-right: 20px;
                            // border-radius: 10px;
                            text-decoration: none;
                            color: white;
                            background-image: linear-gradient(to right, #F53DF5, #0698F9);
                        }

                        .artist-btn2 {
                            position: relative;
                            font-weight: bold;
                            padding: 10px 20px;
                            text-decoration: none;
                            color: white;
                            background-image: linear-gradient(to right, #F53DF5, #0698F9);
                            background-clip: text;
                            -webkit-text-fill-color: transparent;
                            border: 3px solid;
                            border-image: linear-gradient(to right, #3918FF, #DB00FF);
                            border-image-slice: 1;
                            border-radius: 10px;
                        }
                    }
                }
            }

            .browse-category {
                padding: 0 100px;

                h1 {
                    text-align: center;
                    font-size: 35px;
                    margin-bottom: 36px;
                }

                .browse-flex-container {
                    display: grid;
                    grid-template-columns: auto auto auto auto;
                    // column-gap: 10px;
                    row-gap: 24px;
                    justify-content: space-between;

                    .browse-flex-item {
                        position: relative;
                        width: 272px;
                        height: 242px;
                        padding: 10px;
                        // border: 1px solid red;
                        display: inline-block;
                        background-color: $inside-flex-item-bg-color;
                        border-radius: 20px;

                        .img-stack {
                            position: relative;
                            width: 250px;
                            height: 220px;
                            display: inline-block;
                            border-radius: 20px;
                            background-image: linear-gradient(to right, #cc74cc, #51a2d8);

                            .browse-category-item1-img1 {
                                position: absolute;
                                left: 20px;
                                bottom: 0;
                                z-index: 2;
                            }

                            .browse-category-item1-img2 {
                                position: absolute;
                                top: 0;
                                right: 0;
                                z-index: 3;
                                border-top-right-radius: 20px;
                            }

                            .browse-category-item1-img3 {
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                z-index: 1;
                                border-bottom-left-radius: 20px;
                            }

                            .floating-text {
                                position: absolute;
                                bottom: 20px;
                                left: 10px;
                                z-index: 4;
                                width: 226px;
                                display: flex;
                                justify-content: space-between;
                                background-color: rgba(0, 0, 0, 0.589);
                                padding: 10px;
                                border-radius: 10px;
                                color: white;
                                backdrop-filter: blur(1px);

                                h3 {
                                    font-size: 16rem;
                                    font-weight: 700;
                                }
                            }
                        }

                    }
                }
            }

            .premier-marketplace {
                display: flex;
                align-items: center;
                padding: 132px 100px;

                .premier-marketplace-left {
                    width: 50%;

                    p {
                        color: #11315B;
                        margin: 28px 0;
                    }

                    .learn-more-btn {
                        border: 3px solid $font-color2;
                        padding: 5px 20px;
                        border-radius: 10px;
                        text-decoration: none;
                        color: #11315B;
                        margin-right: 30px;
                    }
                }

                .premier-marketplace-right {
                    width: 47%;
                    display: grid;
                    grid-template-columns: auto auto;
                    column-gap: 45px;
                    grid-template-rows: auto;

                    img {
                        border-radius: 12px;
                    }

                    .premier-marketplace-big-img {
                        grid-column: 1 / 2;
                        grid-row: 1 / span 2;
                        // width: 10px;
                    }

                    .premier-marketplace-small-img {
                        grid-column: 2 / 3;
                    }

                    .premier-marketplace-smaller-img {
                        grid-column: 2 / 2;
                        grid-row: 2 / 2;
                    }
                }
            }

            .why-nft {
                position: relative;
                display: flex;
                align-items: center;
                margin: 0 100px;
                padding: 50px;
                // margin-bottom:50px ;
                background-image: url('../images/index/error404-image.png');
                background-size: cover;
                background-repeat: no-repeat;
                border-radius: 20px;
                width: 1150px;
                height: 417px;

                .darkbackground {
                    position: absolute;
                    width: 1150px;
                    height: 417px;
                    left: 0;
                    border-radius: 20px;
                    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.493), black);
                }

                .why-nft-left {
                    width: 50%;
                    padding-right: 120px;
                    position: relative;
                    z-index: 2;

                    h1 {
                        font-size: 35rem;
                        color: white;
                    }

                    p {
                        margin: 30px 0;
                        color: white;
                    }

                    .marketplace-btn {
                        text-decoration: none;
                        color: white;
                        padding: 10px 5px 10px 15px;
                        border-radius: 10px;
                        background-image: linear-gradient(to right, #F53DF5, #0698F9);

                        .fa-arrow-right {
                            color: white;
                        }
                    }
                }

                .why-nft-right {
                    display: block;
                    width: 50%;
                    height: 313px;
                    border-radius: 20px;
                    position: relative;
                    z-index: 2;
                    background-image: url('../images/index/why-nft-youtube-big-image.png');

                    .fa-youtube-big {
                        color: red;
                        position: absolute;
                        left: 43%;
                        top: 35%;
                    }

                    .watch-info {
                        position: absolute;
                        bottom: 0;
                        display: flex;
                        width: 238px;
                        height: 50px;
                        padding: 0 5px;
                        border-top-right-radius: 5px;
                        background-color: rgba(0, 0, 0, 0.521);

                        a {
                            // border:1px solid white;
                            color: white;
                            display: flex;
                            align-items: center;
                            text-decoration: none;

                            h2 {
                                font-size: 20px;
                                color: white;
                                text-decoration: none;
                            }

                            .fa-youtube {
                                color: white;
                                text-decoration: none;
                                margin: 0 5px;
                            }

                        }
                    }

                    div {
                        display: flex;
                        color: white;
                        font-size: 13rem;
                        padding: 10px;
                        align-items: center;
                        text-shadow: 
                        -1px -1px 0 #000,
                        1px -1px 0 #000,
                        -1px 1px 0 #000,
                        1px 1px 0 #000;

                        .about-vid-info {
                            font-size: 22rem;
                            font-weight: bold;
                            border: 3px solid white;
                            border-radius: 10px;
                            padding: 0 10px;
                            margin-right: 10px;
                            color: white;
                        }
                    }
                }
            }
        }

        footer {
            background-color: $bg-color;
            padding: 50px 100px;
            display: flex;
            // justify-content: space-between;
            // align-items: center;
            height: 373px;

            .footer-left {
                width: 40%;

                div {
                    span {
                        font-size: 28rem;
                        font-weight: bold;
                        border: 3px solid white;
                        border-radius: 10px;
                        padding: 0 10px;
                        margin-right: 20px;
                    }

                    a {
                        color: $font-color;
                        font-size: 25rem;
                        text-decoration: none;
                    }
                }

                p {
                    padding: 0 150px 0 0;
                    margin-top: 30px;
                    font-size: 15px;
                    color: $font-color2;
                }
            }

            .footer-right {
                width: 60%;
                display: flex;
                justify-content: space-between;

                ul {
                    list-style: none;

                    li {
                        padding: 10px 0;

                        .footer-nav-links {
                            color: $font-color2;
                            text-decoration: none;
                        }
                    }
                }

                .newsletter-section {

                    form {
                        position: relative;
                        height: 44px;
                        width: 356px;
                        margin: 30px 0 60px;

                        input {
                            position: absolute;
                            width: 356px;
                            height: 44px;
                            border-radius: 10px;
                            border: 0px solid;
                            background-color: #7d7c80;
                            color: $font-color;
                            padding: 0 10px;

                            &::placeholder {
                                color: $font-color;
                            }
                        }

                        .subscribe-btn {
                            position: absolute;
                            right: 3px;
                            top: 3px;
                            border-radius: 10px;
                            border: 0;
                            height: 38px;
                            padding: 0 30px;
                            font-size: 18rem;
                            background-color: #CDE2FE;
                        }
                    }

                    span {
                        h3 {
                            margin-bottom: 30px;
                        }

                        i {
                            margin: 0 8px 0 0;
                            font-size: 25px;
                        }
                    }
                }
            }
        }
    }
}